.hero {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-goumbik-317356.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: #f5a623;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #ae6c00;
}
