/* src/styles/ProductDetail.css */

.product-detail {
  padding: 20px;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  position: relative;
}

/* .product-card:hover {
  transform: scale(1.05);
} */

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-name {
  font-size: 1.5em;
  margin-top: 10px;
}

.product-specs,
.product-description {
  margin: 10px 0;
}

.product-price {
  font-size: 1.2em;
  color: #333;
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

.success-message {
  color: green;
  font-size: 1.2em;
  margin-bottom: 20px;
}
