.services-container {
  padding: 50px;
  margin: 100px auto;
  background-color: #f9f9f9;
}

.service-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.service-container p {
  color: #555;
  line-height: 1.6;
}

.service-category {
  margin-bottom: 30px;
}

.service-category h3 {
  color: #0056b3;
  margin-bottom: 15px;
}

.service-category p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

.service-category .icon {
  margin-right: 10px;
  color: #0056b3;
  font-size: 1.2em;
}
