.why-join-section {
  text-align: center;
  padding: 50px;
}

.why-join-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.feature {
  max-width: 300px;
}

.feature .icon {
  font-size: 2rem;
  color: #00c1a5;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.apply-button {
  background-color: #00c1a5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
